*, html, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    background: #e7e7f1;
}

.homework{
  width: 555px;
  height: 430px;
  margin: 0 auto;
  margin-top: 50px;
}
.btn_1 { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
 /* btn_1  */
.checkbox-1{
  display: block;
  width: 90px;
  height: 35px;
  background: #4d45c4;
  border-radius: 25px;
  /* border: 1px solid black; */
  box-shadow: 3px 3px 5px #aba4a4, -3px -3px 5px white;
  padding: 2px;
  position: relative;
  cursor: pointer;
}
.checkbox-1::before{
  content: '';
  background-color: #e7e7f1;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 25px;
  position: absolute;
  right: 3px;
  bottom: 3px;
  /* transition: .5s; */
}
#btn-1:checked ~ .checkbox-1::before{
  background: #e7e7f1;
  margin-left: 0;
  left: 3px;
}

/* btn_2  */
.checkbox-2{
  display: block;
  width: 90px;
  height: 35px;
  /* background:   #e7e7f1; */
  border-radius: 25px;
  /* border: 1px solid black; */
  box-shadow: 3px 3px 5px #afaaaa, -3px -3px 5px white;
  padding: 2px;
  position: relative;
  cursor: pointer;
}
.checkbox-2::before{
  content: '';
  background-color: #ffffff;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 25px;
  position: absolute;
  left: 3px;
  bottom: 3px;
  /* transition: .5s; */
}
#btn-2:checked ~ .checkbox-2::before{
  background: #ffffff;
  margin-left: auto;
  right: 3px;
}


/* btn_3 (Button) */
.btn_3{
    color: #595B60;
    padding: 17px 63px;
    border-radius: 30px;
    border: none;
    box-shadow: 3px 3px 5px #afaaaa, -3px -3px 5px white;
    font-size: 22px;
    cursor: pointer;
}
.btn_3:hover {
  background-color: #e8e5e5;
}
.btn_3:active {
  box-shadow: -3px -3px 5px #afaaaa,
               3px 3px 5px white;
}


/* btn_4 (Input) */
.btn_4 {
  border: none;
  text-align: center;
  color: #595B60;
  padding: 17px 68px;
  border-radius: 30px;
  font-size: 22px;
  /* text-shadow: 1px 1px 1px #000; */
  box-shadow: inset 3px 3px 5px #afaaaa,
              inset -3px -3px 5px  white;
  cursor: pointer;
}
.btn_4:hover {
  background-color: #e8e5e5;
}
.btn_4:active {
  box-shadow: inset -3px -3px 5px #afaaaa,
              inset 3px 3px 5px white;
}


/* btn_5 (Arrows) */
.btn_5{
  display: flex;
}
.button{
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border: none;
  box-shadow: 3px 3px 5px #afaaaa, -3px -3px 5px white;
  cursor: pointer;
}
.button:hover{
  background-color: #e8e5e5;
}
.button:active{
  box-shadow: -3px -3px 5px #afaaaa,
               3px 3px 5px white;
}
.button__arrow{
  background-color: transparent;
  height: 12px;
  width: 12px;
}
.button__arrow--down{
  border-bottom: 3px solid #595B60;
  border-right: 3px solid #595B60;
  transform: translateY(-25%) rotate(45deg);
}
.button__arrow--up {
  border-left: 3px solid #595B60;
  border-top: 3px solid #595B60;
  transform: translateY(25%) rotate(45deg);
}
.button__arrow--left {
  border-bottom: 3px solid #595B60;
  border-left:3px solid #595B60;
  transform: translateX(25%) rotate(45deg);
} 
.button__arrow--right {
  border-right: 3px solid #595B60;
  border-top: 3px solid #595B60;
  transform: translateX(-25%) rotate(45deg);
}


/* btn_6 (Share) btn_7 (Label) btn_9 (Add User)*/
.share, .label, .user{
  background-image: url(../img/share.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 88% 50%;
  padding: 17px 20px;
  width: 125px;
  text-align: left;
  font-size: 20px;
}
.label{
  background-image: url(../img/location.png);
}


/* btn_8 (Dropdown) */
.btn_8{
  padding: 17px 25px;
  margin: 20px 0;
}
.btn_down-8{
  margin-left: 20px;
}


/* btn_9 (Add User) */
.user{
  background-image: url(../img/add-user.png);
  background-position: 10% 50%;
  padding: 17px 20px;
  width: 187px;
  text-align: right;
  font-size: 22px;
  background-size: 33px;
}

