.light-orange{
    color: $light-orange;
}
.gray{
    color: $gray;
}
.team_gray{
    color: #4c4c4c;
}
.light-black{
    color: $light-black;
}
.bg_lilac{
    background: $lilac;
}
.bg_sky-blue{
    background: $sky-blue;
}
.bg_dark-blue{
    background: $dark-blue;
}
.bg_crimson{
    background: $crimson;
}
.bg_white{
    background: $white;
}
.bg_bright-orange{
    background: $bright-orange;
}
.bg_light-pink{
    background: $light-pink;
}
h2{
    margin: 0 auto;
    @include font(50px, 0.9, 600);
}
p{
    margin: 0 auto;
    @include font(16px, 1.5, 400);
}
.section__working{
    margin-top: 145px;
    margin-bottom: 110px;
    &--text{
        margin-bottom: 100px;
    }  
    .card{
        border: none;
        border-radius: 0;
        .card-img-top {
            width: 20%;
            padding-top: 50px;
            margin: 0 auto;
        }
        .card-body{
            h5{
                @include font(20px, 2.1, 600);
            }
            p{
                @include font(15px, 1.5, 400);
                margin-bottom: 2rem;
            }
            .btn{
                width: 90%;
                @include font(16px, 1.5, 400);
                padding: 12px;
                background: $white;
            }
            .btn:hover{
                border: 1px solid rgb(224, 224, 224);
                box-shadow: 0 15px 4px rgba(245, 245, 245);
                background: $white;
            }
        }
    }
    .card:hover{
        box-shadow: 0 0 10px 20px rgba(245, 245, 245);
    }
    // КАК сделать, чтоб карточки когда встают один под одним были по середине?
}


.section__featured{
    &--text{
        margin-top: 150px;
        margin-bottom: 110px;
    }
    .card{
        width: 360px;
        height: 360px;
        border-radius: 0;
    }
}


.section__services{
    // margin-top: 1100px;
    // *** Почему не отталкивается от предыдущего section??? Как исправить??

    &--text{
        margin-top: 315px;
        margin-bottom: 135px;
    }
    .card{
        &--img{
            width: 95px;
            height: 85px;
        }
        h5{
            @include font(30px, 1.5, 400);
            color: #404040;
            // span{
            //     text-decoration: underline;
            //     text-decoration-color: red;
            // }
        }
        hr{
            margin-top: -1.5rem;
            margin-bottom: -0.5rem;
            color: red;
            opacity: 1;
            border: 1px solid;
            width: 12%;
        }
        p{
            @include font(16px, 1.5, 400);
            color: #4c4c4c;
        }
        a{
            color: #4c4c4c;
        }
        .card--img:hover{
            box-shadow: 0 0 10px 20px rgba(245, 245, 245);
        }
        a:hover{
            box-shadow: 0 15px 4px rgba(245, 245, 245);
        }
    }
}
.section__team{
    &--text{
        margin-top: 315px;
        margin-bottom: 125px;
    }
    .card{
        width: 360px;
        height: 445px;
        border-radius: 0;
        &-body{
            h5{
                @include font(30px, 1, 600);
            }
            p{
                @include font(16px, 2, 300);
            }
        }
    }
    .translate-middle {
        transform: translate(-50%,-70%)!important;
    }
}

.section__clients{
    &--text{
        margin-top: 285px;
        margin-bottom: 80px;
    }
}

.section__logo{
    margin-top: 220px;
    margin-bottom: 80px;
}


