@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
*, html, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}
.orange{
    color: #fc6f4e; 
    // Почему цвет не такой яркий как в макете???
 }
.header{
    background: $light-gray;
}
.navbar{
    padding: 0 50px;
    background: $light-gray;
}
.header-text{
    padding: 280px 50px 115px 50px;
    background: $light-gray;
    h1{
        margin: 0 auto;
        max-width: 710px;
        font-size: 50px;
        line-height: 0.9;
        font-weight: 600;
    }
    p{
        margin: 0 auto;
        max-width: 710px;
        // @include font (16px, 1.5, 400);
        // @include font;
        // Почему не работает миксин????
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        margin-top: 15px;
    }
}
fieldset{
    margin: 0 50px;
}
.btn:disabled, fieldset:disabled .btn{
    background-color: #ff5c36;
    border-color: #ff5c36;
    opacity: 1;
    border-radius: 27px;
    // max-width: 240px;
}
// .btn{
//     background: #fc6f4e;
// }
