@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
*, html, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}
.orange{
    color: $orange; 
 }
.bg_gray{
    background: $light-gray;
}
.sectio_header{
    .header-text{
        padding: 280px 0 115px 0;
        h1{
            @include font(50px, 0.9, 600);
        }
        p{
            @include font(16px, 1.5, 400);
        }
    }
    .btn:hover{
        background: $light-orange;
    }
    legend{
        margin: 25px 0;
        @include font(20px, 1.25, 600);
    }
    label{
        @include font(15px, 1.6, 400);
    }
    .btn{
        background: $bright-orange;
        border-color: $bright-orange;
        border-radius: 27px
    }
    .btn:disabled, fieldset:disabled .btn{
        background: $bright-orange;
        border-color: $bright-orange;
        opacity: 1;
        border-radius: 27px;
    }
    .form-control{
        border: none;
        width: 100%;
    }
    .form-control:disabled {
        background-color: white;
    }
}

