*, html, body{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
}

// body {
//     margin: 0;
//     font-family: Helvetica, sans-serif;
//     background-color: #f4f4f4;
//   }
  
//   a {
//     color: #000;
//   }
  
  /* header */
  
  .header {
    background-color: transparent;
    // box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    // .logo{
    //     width: 155px;
    // }
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
  }
  
  .header li a {
    display: block;
    padding: 15px 20px;
    // border-right: 1px solid #f4f4f4;
    text-decoration: none;
    @include font(18px, 1.1, 400, $white);
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    // background-color: #f4f4f4;
    text-decoration: underline;
    // color: rgba(240, 20, 90, 1);
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    // width: 155px;
  }
//   .logo_img{
//     width: 76px;
//   }
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: $white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    // .logo_img{
    //     width: 155px;
    //   }
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

.section_1{
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
    // background-image: url(../img/background-1.png);

    &-logo{
        position: relative;
        &-img1{
            margin: 0 auto;
            padding: 300px 10px 0 10px;
            max-width: 425px;
            // ЭТО Не Правильно!
                img{
                    width: 100%;
                }
        }
        &-img2{
            max-width: 108px;
            position: absolute;
            left: 52%;
            top: 48%;
                img{
                    width: 100%;
                }            
        }
    }

    &-card{
        margin-top: 80px;
        padding-right: 40px;
        &-left{
            h5{
                @include font(42px, 1.1, 600, $light-gray);
                text-align: right;
                // text-decoration: none;
                padding: 0 40px 20px 0;
                
            }
            div{
                border-right: 2px solid white;
            }
        }
      
        &-right{
            h5{
                @include font(32px, 1.2, 600, $white);
                // text-align: right;
                // text-decoration: none;
                padding: 0 0 0 40px;
            }
            p{
                @include font(21px, 1.4, 400, $white);
                padding: 20px 0 0 40px;
            }
        }
    }

        .text1:hover{
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;  
        }
        .div-text1:hover{
            border-right: 3px solid red;
        }
        .text2:hover{
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;  
        }
        .div-text2:hover{
            border-right: 3px solid red;
        }
        .text3:hover{
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;  
        }
        .div-text3:hover{
            border-right: 3px solid red;
        }
        .text4:hover{
            background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;  
        }
        .div-text4:hover{
            border-right: 3px solid red;
        }
    
}

a {
    // color: var(--bs-link-color);
    text-decoration: none;
}




.section_2{
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    margin-top: -2px;
    .topic{
        @include font(42px, 1.1, 600, $light-gray);
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;  
        // background-clip: text;
        // text-fill-color: transparent;
        padding: 100px 60px 0 60px;
    }

    &-cards{
        padding: 70px 60px 80px 60px;
        .card{
            background: transparent;
            border: none;
            padding-bottom: 55px;
            &-title{
                @include font(24px, 1.1, 400, #24A3FF);
                padding: 20px 0 15px 0;
                padding-right: 28px;
            }
            &-text{
                @include font(18px, 1.4, 400, $white);
                padding-right: 19px;
            }
        }
        img{
            width: 22%;
            background: white;
            border-radius: 24px;
        }
    }
}
.card-group>.card:not(:last-child) .card-img-top {
    border-top-right-radius: 24px;
}
.card-group>.card:not(:first-child) .card-img-top {
    border-top-left-radius: 24px;
}


.section_3{
    
    .card{
        margin: 40px 60px 0 60px;
        background: #F5F5FA;
        border-radius: 12px;
        &-title{
            @include font(42px, 1.1, 700, $white);
            background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;  
            padding: 60px 30px 20px 20px;
        }
        .name{
            @include font(18px, 1.1, 400, $light-gray);
            padding: 0px 0px 0px 20px;
        }
        .position{
            @include font(16px, 1.4, 400, $light-gray);
            padding: 0px 0px 0px 20px;
        }
    }
}


.carousel-control-next {
    left: 33%;
    bottom: 65%;
}
.carousel-control-next, .carousel-control-prev {
    // color: #24A3FF;
    opacity: 10;
    @include font(14px, 1.1, 700, $blue);
    letter-spacing: 1px;
}
.carousel-indicators [data-bs-target] {
    background-color: $blue;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 8px;
}
.carousel-indicators {
    bottom: -40px;
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    color: rgb(145, 27, 166);
    text-decoration: none;
    opacity: 10;
}