@mixin font($size, $height, $weight, $color) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    color: $color;
}
$white: #ffffff;
$pink_gradient: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$light-gray: rgba(179, 179, 186, 1);

