@mixin font($size, $height, $weight, $color) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    color: $color;
}
$white: #ffffff;
$pink_gradient: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$light-gray: #B3B3BA;;
$blue: #24A3FF;
$white: #ffffff;
$crimson: #F0145A;
$backgraund_gray: #F5F5FA;
$dirty-lilac: #686887;
$dark-blue: #323264;
