*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

/* header */
.header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  color: #ffffff;
}

.header li a:hover,
.header .menu-btn:hover {
  text-decoration: underline;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.section_1 {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}
.section_1-logo {
  position: relative;
}
.section_1-logo-img1 {
  margin: 0 auto;
  padding: 300px 10px 0 10px;
  max-width: 425px;
}
.section_1-logo-img1 img {
  width: 100%;
}
.section_1-logo-img2 {
  max-width: 108px;
  position: absolute;
  left: 52%;
  top: 48%;
}
.section_1-logo-img2 img {
  width: 100%;
}
.section_1-card {
  margin-top: 80px;
  padding-right: 40px;
}
.section_1-card-left h5 {
  font-size: 42px;
  line-height: 1.1;
  font-weight: 600;
  color: rgb(179, 179, 186);
  text-align: right;
  padding: 0 40px 20px 0;
}
.section_1-card-left div {
  border-right: 2px solid white;
}
.section_1-card-right h5 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  padding: 0 0 0 40px;
}
.section_1-card-right p {
  font-size: 21px;
  line-height: 1.4;
  font-weight: 400;
  color: #ffffff;
  padding: 20px 0 0 40px;
}
.section_1 .text1:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_1 .div-text1:hover {
  border-right: 3px solid red;
}
.section_1 .text2:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_1 .div-text2:hover {
  border-right: 3px solid red;
}
.section_1 .text3:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_1 .div-text3:hover {
  border-right: 3px solid red;
}
.section_1 .text4:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_1 .div-text4:hover {
  border-right: 3px solid red;
}

a {
  text-decoration: none;
}

.section_2 {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  margin-top: -2px;
}
.section_2 .topic {
  font-size: 42px;
  line-height: 1.1;
  font-weight: 600;
  color: rgb(179, 179, 186);
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 100px 60px 0 60px;
}
.section_2-cards {
  padding: 70px 60px 80px 60px;
}
.section_2-cards .card {
  background: transparent;
  border: none;
  padding-bottom: 55px;
}
.section_2-cards .card-title {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  color: #24A3FF;
  padding: 20px 0 15px 0;
  padding-right: 28px;
}
.section_2-cards .card-text {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  color: #ffffff;
  padding-right: 19px;
}
.section_2-cards img {
  width: 22%;
  background: white;
  border-radius: 24px;
}

.card-group > .card:not(:last-child) .card-img-top {
  border-top-right-radius: 24px;
}

.card-group > .card:not(:first-child) .card-img-top {
  border-top-left-radius: 24px;
}

.section_3 .card {
  margin: 40px 60px 0 60px;
  background: #F5F5FA;
  border-radius: 12px;
}

.carousel-control-next {
  right: 50%;
  bottom: 35%;
}

.carousel-control-next, .carousel-control-prev {
  color: #24A3FF;
  opacity: 10;
}/*# sourceMappingURL=css.css.map */